@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAn1Web</title>
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png" />
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Montserrat&display=swap" rel="stylesheet" />

    <!-- Vendor CSS -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/assets/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css" />

</head>
<body class="index-page">
    <header id="header" class="header sticky-top">

        <div class="branding d-flex align-items-cente">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a asp-area="Customer" asp-controller="Home" asp-action="landingpage" class="logo d-flex align-items-center" title="RentaMusic - Trang chủ">
                    <img src="~/assets/img/logoRentaMusic.png" alt="RentaMusic Logo" style="max-width: 200px; max-height: 100px; width: auto; height: auto;" />
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                         <li>
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                   @await Component.InvokeAsync("ShoppingCart")
                                </a>
                            </li>
                        
                        <li><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="active">Trang chủ</a></li>
                        <li>
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order" asp-action="Index">Đặt hàng</a>
                        </li>
                        @if(User.IsInRole(SD.Role_Admin)){
                        <li class="dropdown">
                            <a><span>Quản lý</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Thông tin sách</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Thể loại</a></li>
                            </ul>
                        </li>
                        }
                        <li>
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Mới ra mắt</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Khuyến mãi</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                   
                </nav>


            </div>

        </div>

    </header>
 
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light text-muted">
        <div class="container">
            &copy; 2023 - <i class="bi bi-music-note"></i> Rental Music - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="~/assets/js/main.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.datatables.net/2.3.0/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
